@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

:root {
	--max-width: 505px;
	--font: 'Inter';
	--color-1: #000000;
	--color-2: #575757;
	--color-3: #a8a8b4;
	--color-4: #ebebeb;
	--color-5: #f2f3ff;
	--input: #dadada;
	--bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-1: #ffffff;
		--color-2: #dadada;
		--color-3: #7d7d94;
		--color-4: #29292f;
		--color-5: #24242d;
		--input: #0e0e11;
		--bg: #1e1f25;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background: var(--bg);
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	max-width: var(--max-width);
	margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
